* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav > * {
  display: flex;
  list-style: none;
  margin: 8px;
}

li {
  padding-left: 12px;
}

table {
  width: 80vw;
  padding-left: 12%;
}

#dashboard {
  height: 40vh;
}

th,
td {
  border-bottom: 3px solid black;
}
